<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>com.Miloboy.HackChallenge</string>

    <key>CFBundleName</key>
    <string>HackChallenge</string>

    <key>CFBundleDisplayName</key>
    <string>HackChallenge</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- GOOGLE SIGN-IN -->
    <key>GIDClientID</key>
    <string>437789147226-3b2ssaljk3jsjkijel1jlo9tapjqi2k3.apps.googleusercontent.com</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Google</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.437789147226-3b2ssaljk3jsjkijel1jlo9tapjqi2k3</string>
            </array>
        </dict>
    </array>

    <key>UILaunchScreen</key>
    <dict/>

    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string></string>
                </dict>
            </array>
        </dict>
    </dict>

</dict>
</plist>
